<div class="toolbar h-16 bg-slate-900 text-white flex items-center px-4 py-2">
  <span>
    Balloon Pop Game - Angular 19
  </span>
</div>
<main role="main">
  <div class="game-container">
    @if (!gameOver()) {
      <div class="flex gap-4">
        @for (balloon of balloons; track balloon.id) {
          <app-balloon (balloonMissed)="balloonMissHandler($event)" (balloonPopped)="balloonPopHandler($event)" [balloon]="balloon"></app-balloon>
        }
      </div>
      <div class="text-2xl font-bold flex gap-4">
        <span>Score: {{score}}</span>
        @if (missed()) {
          <span>Missed: {{missed()}}</span>
        }
      </div>
    } @else {
      <section class="flex flex-col gap-10 items-center">
        <div class="text-3xl text-center">
          Game Over
        </div>
        <span class="text-2xl font-bold text-center">Score: {{score}}</span>
        <button (click)="startGame()" class="rounded-md px-2 py-1.5 bg-purple-900 text-white cursor-pointer">
          Restart
        </button>
      </section>
    }
  </div>
</main>